<p style="color: green"><%= notice %></p>

<%= render @accounts_basic_group %>

<div>
  <%= link_to "Edit this basic group", edit_accounts_basic_group_path(@accounts_basic_group) %> |
  <%= link_to "Back to basic groups", accounts_basic_groups_path %>

  <%= button_to "Destroy this basic group", @accounts_basic_group, method: :delete %>
</div>
