<p style="color: green"><%= notice %></p>

<%= render @sub_group %>

<div>
  <%= link_to "Edit this sub group", edit_sub_group_path(@sub_group) %> |
  <%= link_to "Back to sub groups", sub_groups_path %>

  <%= button_to "Destroy this sub group", @sub_group, method: :delete %>
</div>
