<p style="color: green"><%= notice %></p>

<%= render @basic_group %>

<div>
  <%= link_to "Edit this basic group", edit_basic_group_path(@basic_group) %> |
  <%= link_to "Back to basic groups", basic_groups_path %>

  <%= button_to "Destroy this basic group", @basic_group, method: :delete %>
</div>
